body { background: #770b2f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 30px; display: flex; }
.block-router-0 { color: #206d81; font-size: 17px; margin-bottom: 5px; }
.block-session-1 { color: #8b19de; font-size: 13px; margin-bottom: 5px; }
.block-cart-2 { color: #8f0bac; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #895271; font-size: 20px; margin-bottom: 5px; }
.block-payment-4 { color: #44d192; font-size: 12px; margin-bottom: 5px; }